{% extends 'base.html' %}
{% block pageheading %}Māori and English Words{% endblock %}

{% block main %}

    <ul>
        {% for catergory in categories %}
                <li>
                    <a href="/sort_by_category/{{ catergory[0] }}">{{ catergory[1] }}</a>  <!-- For loop that display the number of categories-->
                </li>
        {% endfor %}
    </ul>

    <h4></h4>

    <form action="{{ url_for('render_dictionary_page', cat_id=cat_id) }}" method="GET"> <!-- app route when users click the search bar -->
        <label for="word-search">Enter a word:</label>
        <input type="text" name="search" value="{{ search_term }}" placeholder="Search..."> <!--HTML for the search bar -->
        <button type="submit">Search</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>English Word</th> <!--Columm for the table   -->
                <th>Maori Word</th>
                <th>Category</th>
            </tr>
        </thead>

        <tbody>
            {% for word in words %}  <!-- for loop that displays the information from the database -->
                <tr>
                    <td><a href="/word_info/{{ word[0] }}">{{ word[1] }}</a></td>  <!-- Link that redirects you to the more info html page when clicked -->
                    <td>{{ word[2] }}</td>
                    <td>{{ word[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}
