{% extends 'base.html' %}
{% block pageheading %}Māori and English Words{% endblock %}

{% block main %}

    <ul>
        {% for catergory in categories %}
                <li>
                    <a href="/sort_by_category/{{ catergory[0] }}">{{ catergory[1] }}</a>
                </li>
        {% endfor %}
    </ul>

    <h2> Actions</h2>

    <form action="{{ url_for('render_dictionary_page', cat_id=cat_id) }}" method="GET">
        <label for="word-search">Enter a word:</label>
        <input type="text" name="search" value="{{ search_term }}" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>English Word</th>
                <th>Maori Word</th>
                <th>Category</th>
            </tr>
        </thead>

        <tbody>
            {% for word in words %}
                <tr>
                    <td><a href="/word_info/{{ word[0] }}">{{ word[1] }}</a></td>
                    <td>{{ word[2] }}</td>
                    <td>{{ word[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}
