{% extends 'base.html' %}
{% block pageheading %}More Information{% endblock %}

{% block main %}

    <h2> Actions</h2>

    <form action="{{ url_for('render_dictionary_page', cat_id=cat_id) }}" method="GET">
        <label for="word-search">Enter a word:</label>
        <input type="text" name="search" value="{{ search_term }}" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>English Word</th>
                <th>Maori Word</th>
                <th>Category</th>
                <th>Level</th>
                <th>Description</th>
                <th>User of Entry</th>
                <th>Date of Entry</th>
            </tr>
        </thead>

        <tbody>
            {% for word in words %}
                <tr>
                    <td>{{ word[0] }}</td>
                    <td>{{ word[1] }}</td>
                    <td>{{ word[2] }}</td>
                    <td>{{ word[3] }}</td>
                    <td>{{ word[4] }}</td>
                    <td>{{ user[0] }}</td>
                    <td>{{ word[5] }}</td>


                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}
