{% extends 'base.html' %}
{% block pageheading %}More Information{% endblock %}

{% block main %}


    <form action="{{ url_for('render_dictionary_page', cat_id=cat_id) }}" method="GET">
        <label for="word-search">Enter a word:</label>
        <input type="text" name="search" value="{{ search_term }}" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>English Word</th>  <!-- All the colloums of the more info table -->
                <th>Maori Word</th>
                <th>Category</th>
                <th>Level</th>
                <th>Description</th>
                <th>User of Entry</th>
                <th>Date of Entry</th>
                <th>Word ID</th>
                <th>Image</th>
            </tr>
        </thead>

        <tbody>
            {% for word in words %}  <!-- for loop that displays the correct information from the database -->
                <tr>
                    <td>{{ word[1] }}</td>
                    <td>{{ word[2] }}</td>
                    <td>{{ word[3] }}</td>
                    <td>{{ word[4] }}</td>
                    <td>{{ word[5] }}</td>
                    <td>{{ user[0] }}</td>
                    <td>{{ word[6] }}</td>
                    <td>{{ word[0] }}</td>
                    {% if word[7] %}
                    <td> <img src= '{{ url_for('static', filename='images/' + word[7] + '.jpg') }}'> </td> <!-- displays the image if theres is one -->
                    {% else %}
                    <td> <img src= '{{ url_for('static', filename='images/noimage' + '.jpg') }}'> </td> <!-- else displays the place holder imaghe -->
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}
